spring:
  application:
    name: user-service

  server:
    port: 8081

  datasource:
    url: jdbc:postgresql://localhost:5432/riad_db
    username: riad_user
    password: riad_password
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQL13Dialect
        format_sql: true

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8080/realms/riad
          jwk-set-uri: http://localhost:8080/realms/riad/protocol/openid-connect/certs

management:
  endpoints:
    web:
      exposure:
        include: health,prometheus,info,metrics
  endpoint:
    health:
      show-details: always

logging:
  level:
    root: INFO
    ma.lunaire: DEBUG
    org.springframework.security: DEBUG
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} - %logger{36} - %msg%n"