name: Backend CI

on:
    push:
        branches: ["main"]
    pull_request:
        branches: ["main"]

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Set up JDK 21
              uses: actions/setup-java@v4
              with:
                  java-version: "21"
                  distribution: "temurin"
                  cache: maven

            - name: Run tests
              run: mvn -B test
              working-directory: riad-booking-platform_backend

            - name: Package application
              run: mvn -B package -DskipTests
              working-directory: riad-booking-platform_backend

            # - name: Build Docker image
            #   run: docker build -t backend:${{ github.sha }} .
            #   working-directory: riad-booking-platform_backend
